<h1>Welcome!</h1>
<% if logged_in? %>
  <p>Hello, <%= current_user.name %>!</p>
  <p>Email: <%= current_user.email %></p>
  <%= link_to "View Posts", posts_path %>
  <%= button_to "Logout", logout_path, method: :get %>
<% end %>
